*{margin:0;padding:0;border:0;outline:0;box-sizing:border-box}

body{
    font-family:"roboto";
    font-size:16px;
}

h1{
    font-size: 1.5rem;
    padding:1.5rem 0rem 1rem 0rem;
}

#activityInputContainer{
    background-color: #2A5CE8;
    width:100%;
    height:10vh;
    display:flex;
    align-items: center;
    justify-content:center;
}

#activityInput{
    width:97%;
    height:3rem;
    display:flex;
    align-items: center;
    justify-content:center;
    position: relative;
}

#activity{ /*input*/
    border-radius: 8px 30px 30px 8px;
    width:100%;
    height:100%;
    font-size: 1.5rem;
    padding-left:1rem;
    background-color:#2E9CFF;
    color:white;
}

input::placeholder{
    color:white;
    font-size: 1.3rem;
}

#addBtn{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

#addBtn:hover{
    background-color:#E2E6DF;
}

.fa-plus{
    font-size:1.3rem;
}


.fa-trash-alt, .fa-check-circle, .fa-sync-alt{
    font-size:1.5rem;
    color:black;
    cursor: pointer;
}

.fa-trash-alt:hover{
    color:red;
}
.fa-check-circle:hover{
    color:green;
}

.fa-sync-alt:hover{
    color:orange;
}

.doneActivity .fa-check-circle{
    color:green;
}

.delete, .inProcess, .done{
    position: relative;
}

.delete .tooltiptext, .inProcess .tooltiptext, .done .tooltiptext {
    visibility: visible;
    width: 4.5rem;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 140%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.delete .tooltiptext{
    left: -125%;
}

.inProcess .tooltiptext{
    left: -105%;
}


.done .tooltiptext{
    left: -104%;
}

.delete:hover .tooltiptext, .inProcess:hover .tooltiptext, .done:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.delete .tooltiptext::after, .inProcess .tooltiptext::after, .done .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

.delete, .done, .inProcess{
    background-color:inherit;
}

/* #toDoActivitiesContainer, #doneActivitiesContainer,#inProcessActivitiesContainer{
    padding: 0rem 1.5rem 0rem 1.5rem;
} */

.flex{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
}

.hide{
    display: none;
}

.toDoActivity, .doneActivity,.inProcessActivity{
    padding: 0rem 1rem 0rem 1rem;
    width:100%;
    height: 3rem;
    border: 1.5px solid lightgray;
    border-radius: 5px;
    background-color: #fff;
}

.toDoActivity ~ .toDoActivity, .doneActivity ~ .doneActivity, .inProcessActivity ~.inProcessActivity{
    margin-top:0.5rem;
}

p{
    font-size: 1rem;
    font-weight:bold;
    color: #626780;
}

#doneActivitiesContainer p{
    text-decoration-line: line-through;
}

.options{
    width:3.4rem;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.toDoActivity .options{
    width:5.4rem;
}

hr{
    width: 100%;
    height: 2px;
    background-color:black;
    margin-top: 1rem;
}

#toDoContainer, #doneContainer, #inProcessContainer{
    height:100%;
    margin: 0 1rem 0 1rem;
}